h1{
  font-family: Avenir-Heavy;
  letter-spacing: 0.1cm;
}

.topnav {
    overflow: hidden;
    background-color: #553a46;
    position: relative;
    width: 100%;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }

  .topnav #hamburger{
    font-size: 60px;

  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: none;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */

  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #553a46;
    color: white;
  }

  .topnav #logo{
    width: 100px;
    padding: 14px 16px;

  }

#bk2{
    filter:brightness(50%);
}

.bk2 {
    margin: 3%;
    position: relative;
}

.first-txt {
    position: absolute;
    top: 17px;
    left: 50px;
}

.second-txt {
    position: absolute;
    bottom: 20px;
    left: 10px;
}

.img2{
  width: 100%;
  filter: brightness(40%);  
  position: relative;
}

.txt1{
  color: white;
  position: absolute;
  z-index: 1;
  width: 70%;
  text-align: LEFT;
  padding-left: 20px;
}
